<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Quasar.Properties.QuasarSettings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
	<log4net>
		<appender name="QuasarAppender" type="log4net.Appender.FileAppender">
			<file value="Quasar.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %level - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="QuasarAppender" />
		</root>
	</log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
	  <Quasar.Properties.QuasarSettings>
		  <setting name="DefaultLanguage" serializeAs="String">
			  <value>en-US</value>
		  </setting>
		  <setting name="Language" serializeAs="String">
			  <value>EN</value>
		  </setting>
		  <setting name="DefaultDir" serializeAs="String">
			  <value />
		  </setting>
		  <setting name="AppPath" serializeAs="String">
			  <value />
		  </setting>
		  <setting name="AppVersion" serializeAs="String">
			  <value>0000</value>
		  </setting>
		  <setting name="UpgradeRequired" serializeAs="String">
			  <value>True</value>
		  </setting>
		  <setting name="SupressModDeletion" serializeAs="String">
			  <value>True</value>
		  </setting>
		  <setting name="FtpIP" serializeAs="String">
			  <value />
		  </setting>
		  <setting name="FtpPort" serializeAs="String">
			  <value />
		  </setting>
		  <setting name="FtpUsername" serializeAs="String">
			  <value />
		  </setting>
		  <setting name="FtpPassword" serializeAs="String">
			  <value />
		  </setting>
		  <setting name="FtpValid" serializeAs="String">
			  <value>False</value>
		  </setting>
		  <setting name="PreviousVersion" serializeAs="String">
			  <value>0000</value>
		  </setting>
		  <setting name="CFWAcknowledged" serializeAs="String">
			  <value>False</value>
		  </setting>
		  <setting name="FtpAddress" serializeAs="String">
			  <value />
		  </setting>
		  <setting name="Onboarded" serializeAs="String">
			  <value>False</value>
		  </setting>
		  <setting name="BackupDate" serializeAs="String">
			  <value />
		  </setting>
		  <setting name="PreferredTransferMethod" serializeAs="String">
			  <value />
		  </setting>
		  <setting name="TransferQuasarFoldersOnly" serializeAs="String">
			  <value>False</value>
		  </setting>
		  <setting name="GroupAssignments" serializeAs="String">
			  <value>True</value>
		  </setting>
		  <setting name="TransferPath" serializeAs="String">
			  <value>ultimate\mods</value>
		  </setting>
		  <setting name="SelectedSD" serializeAs="String">
			  <value></value>
		  </setting>
		  <setting name="DiskPath" serializeAs="String">
			  <value></value>
		  </setting>
		  <setting name="CleanupMade" serializeAs="String">
			  <value>False</value>
		  </setting>
		  <setting name="SuppressManageWarning" serializeAs="String">
			  <value>True</value>
		  </setting>
	  </Quasar.Properties.QuasarSettings>
  </userSettings>
</configuration>
