<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Quasar.Properties.SettingsDefinition" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Quasar.Properties.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Quasar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Quasar.Properties.SettingsDefinition" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Quasar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Quasar.Properties.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
    <log4net>
      
      <appender name="QuasarAppender" type="log4net.Appender.FileAppender">
        <file value="Quasar.log" />
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="5" />
        <maximumFileSize value="10MB" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date %level - %message%newline" />
        </layout>
      </appender>
      
      <root>
        <level value="ALL" />
        <appender-ref ref="QuasarAppender" />
      </root>
    </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Quasar.Properties.SettingsDefinition>
      <setting name="AppVersionName" serializeAs="String">
        <value>Quasar Version</value>
      </setting>
      <setting name="AppVersionComment" serializeAs="String">
        <value />
      </setting>
      <setting name="EnableIMTName" serializeAs="String">
        <value>Enable Internal Mod Types</value>
      </setting>
      <setting name="EnableIMTComment" serializeAs="String">
        <value>Enables a tab to configure types, for advanced users only</value>
      </setting>
      <setting name="AppVersionValues" serializeAs="String">
        <value />
      </setting>
      <setting name="LanguageName" serializeAs="String">
        <value>Language</value>
      </setting>
      <setting name="LanguageComment" serializeAs="String">
        <value>You can change the app's display language here</value>
      </setting>
      <setting name="LanguageValues" serializeAs="String">
        <value>English=EN,Français=FR</value>
      </setting>
      <setting name="EnableIMTValues" serializeAs="String">
        <value />
      </setting>
      <setting name="FTPAddressName" serializeAs="String">
        <value>FTP Address</value>
      </setting>
      <setting name="FTPAddressComment" serializeAs="String">
        <value>Please enter the address in this format : [IP Address:Port] - Here is an example : 192.168.0.100:500 </value>
      </setting>
      <setting name="FTPAddressValues" serializeAs="String">
        <value>USER=US</value>
      </setting>
      <setting name="FTPUNName" serializeAs="String">
        <value>FTP Username</value>
      </setting>
      <setting name="FTPUNComment" serializeAs="String">
        <value>If you have authentification enabled on your Switch, please enter the username here</value>
      </setting>
      <setting name="FTPUNValues" serializeAs="String">
        <value>USER=US</value>
      </setting>
      <setting name="FTPPWName" serializeAs="String">
        <value>FTP Password</value>
      </setting>
      <setting name="FTPPWComment" serializeAs="String">
        <value>If you have authentification enabled on your Switch, please enter the password here</value>
      </setting>
      <setting name="FTPPWValues" serializeAs="String">
        <value>USER=US</value>
      </setting>
      <setting name="EnableCreatorName" serializeAs="String">
        <value>Enable Creator mode</value>
      </setting>
      <setting name="EnableCreatorComment" serializeAs="String">
        <value>Enable this mode if you want to access options dedicated to mod creators</value>
      </setting>
      <setting name="EnableCreatorValues" serializeAs="String">
        <value />
      </setting>
      <setting name="EnableAdvancedName" serializeAs="String">
        <value>Enable Advanced mode</value>
      </setting>
      <setting name="EnableAdvancedComment" serializeAs="String">
        <value>Enable this mode if you want full access to Quasar's features. This will also enable debug logs</value>
      </setting>
      <setting name="EnableAdvancedValues" serializeAs="String">
        <value />
      </setting>
      <setting name="EnableWorkspacesName" serializeAs="String">
        <value>Enable Workspace Tab</value>
      </setting>
      <setting name="EnableWorkspacesValues" serializeAs="String">
        <value />
      </setting>
      <setting name="EnableWorkspacesComment" serializeAs="String">
        <value>This enables the Workspace tab if you want to add more workspaces</value>
      </setting>
    </Quasar.Properties.SettingsDefinition>
    <Quasar.Properties.UserSettings>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
    </Quasar.Properties.UserSettings>
    <Quasar.Properties.Settings>
      <setting name="Language" serializeAs="String">
        <value>[System Language]</value>
      </setting>
      <setting name="DefaultDir" serializeAs="String">
        <value>[User's Document Folder]</value>
      </setting>
      <setting name="AppPath" serializeAs="String">
        <value>[Application's Folder]</value>
      </setting>
      <setting name="AppVersion" serializeAs="String">
        <value>0000</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ContentID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastSelectedWorkspace" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="WorkspaceID" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SupressModDeletion" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SupressBuildDeletion" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableIMT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WorkspaceIdGenerator" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FTPIP" serializeAs="String">
        <value />
      </setting>
      <setting name="FTPPort" serializeAs="String">
        <value />
      </setting>
      <setting name="FTPUN" serializeAs="String">
        <value />
      </setting>
      <setting name="FTPPW" serializeAs="String">
        <value />
      </setting>
      <setting name="FTPValid" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ModLoader" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Wireless" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PreviousVersion" serializeAs="String">
        <value>0000</value>
      </setting>
      <setting name="EnablePastebin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FTPAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="Wipe" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableCreator" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAdvanced" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GroupInternalModTypes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableWorkspaces" serializeAs="String">
        <value>False</value>
      </setting>
    </Quasar.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Quasar.Properties.SettingsDefinition>
      <setting name="SupressModDeletionName" serializeAs="String">
        <value>Supress mod deletion warning</value>
      </setting>
      <setting name="SupressModDeletionComment" serializeAs="String">
        <value>Enable this to supress the warning when deleting a mod</value>
      </setting>
      <setting name="SupressModDeletionValues" serializeAs="String">
        <value />
      </setting>
      <setting name="SupressBuildDeletionName" serializeAs="String">
        <value>Supress build warning</value>
      </setting>
      <setting name="SupressBuildDeletionComment" serializeAs="String">
        <value>Enable this to supress the warning when building</value>
      </setting>
      <setting name="SupressBuildDeletionValues" serializeAs="String">
        <value />
      </setting>
    </Quasar.Properties.SettingsDefinition>
    <Quasar.Properties.Settings>
      <setting name="DefaultLanguage" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="Mada" serializeAs="String">
        <value>f165a49418f0ed6c5f61e9e233889d91</value>
      </setting>
    </Quasar.Properties.Settings>
    <Quasar.Properties.UserSettings>
      <setting name="Language" serializeAs="String">
        <value>fr-FR</value>
      </setting>
      <setting name="DefaultDir" serializeAs="String">
        <value>[Default User Documents Folder]</value>
      </setting>
    </Quasar.Properties.UserSettings>
  </applicationSettings>
</configuration>
